
<div>

        <main>

            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    
                    <svg width="1420" height="250" xmlns="http://www.w3.org/2000/svg" style="background-color:#3399ff" >
                        <image href="https://images.unsplash.com/photo-1596653048881-dc30d5b20b00?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhhcHB5JTIwZG9nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="250" width="600"/>
                        </svg>
          
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 style="text-align:right">WELLCOME</h1>
                            <p style="text-align:right">The Best Academy For Dogs</p>
                            <p style="text-align:right"> <a class="btn btn-lg btn-primary" routerLink="/main">Sign up today</a></p>
                        
                        </div>
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <svg width="1420" height="250" xmlns="http://www.w3.org/2000/svg" style="background-color:#3399ff" >
                        <image href="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="250" width="600"/>
                    </svg>          
                  <div class="container">
                    <div class="carousel-caption">
                      <h1 style="text-align:right">TO OUR</h1>
                      <p style="text-align:right"> Study from the safety and comfort of your own home!</p>
                      <p style="text-align:right"><a class="btn btn-lg btn-primary" routerLink="/main">Learn more</a></p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                    <svg width="1420" height="250" xmlns="http://www.w3.org/2000/svg" style="background-color:#3399ff" >
                        <image href="https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2Nob29sJTIwZG9nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="250" width="600"/>
                        </svg>          
                  <div class="container">
                    <div class="carousel-caption text-end">
                      <h1 style="text-align:right">SCHOOL</h1>
                      <p style="text-align:right">We have a class to suit every owner and their best friend!</p>
                      <p style="text-align:right"><a class="btn btn-lg btn-primary" routerLink="/main">Browse gallery</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          
          
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
          
            
          
            <div>
              <!-- START THE FEATURETTES -->
          
              <hr class="featurette-divider">
          
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Come To our School!  <span class="text-muted"> It will blow your mind.</span></h2>
                  <p class="lead">Enrolling in a dog training school can make your dream of working with animals a reality. Dog obedience training lets you earn a living by making a difference in both human and canine lives.  Certified dog trainers enjoy a variety of career options.  They can start their own dog training business, work for an established dog training company, or work in an animal shelter or pet store.
                    As a dog training school, we provide you the education, practical skills and hands-on experience needed to become a dog trainer. As a student, you have the opportunity to study from home and get real work experience within your area.</p>
                </div>
                <div class="col-md-5">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/>
                    <image href="https://images.pexels.com/photos/6568483/pexels-photo-6568483.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="500" width="500"/>

                </svg>
          
                </div>
              </div>
          
              <hr class="featurette-divider">
          
              <div class="row featurette">
                <div class="col-md-7 order-md-2">
                  <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                  <p class="lead">The best school in the country</p>
                </div>
                <div class="col-md-5 order-md-1">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/>
                    <image href="https://images.pexels.com/photos/260440/pexels-photo-260440.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="500" width="500"/>

                </svg>
          
                </div>
              </div>
          
              <hr class="featurette-divider">
          
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Puppy Class!  <span class="text-muted">Tailored especially for you</span></h2>
                  <p class="lead">Sign up for a free trial lesson and you will be impressed</p>
                </div>
                <div class="col-md-5">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/>
                    <image href="https://images.pexels.com/photos/3726314/pexels-photo-3726314.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="500" width="500"/>

                </svg>
          
                </div>
              </div>
          
              <hr class="featurette-divider">
          
              <!-- /END THE FEATURETTES -->
          
            </div><!-- /.container -->
          
          
           
          </main>
</div>
