<div>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://cdn.pixabay.com/photo/2020/11/19/08/03/college-5757815_960_720.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Stony Brook University</h1>
        <p class="lead">The State University of New York at Stony Brook (SUNY at Stony Brook), more commonly known as Stony Brook University (SBU), is a public research university in Stony Brook, New York. It is one of four university centers of the State University of New York system. Consisting of 213 buildings over 1,454 acres of land in Suffolk County, it is the largest public university in the state of New York by area</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Cantact Us</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Registration</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">The University  </h2>
    
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" style="width: 1400px; height: 600px;">
      <div class="col" style="width: 400px; height: 500px;">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_960_720.jpg');">
          <div class="d-flex flex-column h-100 p-20 pb-20 text-white text-shadow-1">
            <h2 class="pt-10 mt-10 mb-10 display-8 lh-8 fw-bold">Our Library</h2>
          </div>
        </div>
      </div>

        <div class="col" style="width: 400px; height: 500px;">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://cdn.pixabay.com/photo/2013/02/26/01/10/auditorium-86197_960_720.jpg');">
            <div class="d-flex flex-column h-100 p-20 pb-20 text-white text-shadow-1">
              <h2 class="pt-10 mt-10 mb-10 display-6 lh-6 fw-bold">Study Rooms </h2>
            </div>
          </div>
        </div>

          <div class="col" style="width: 400px; height: 500px;">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://images.pexels.com/photos/2861798/pexels-photo-2861798.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
              <div class="d-flex flex-column h-100 p-20 pb-20 text-white text-shadow-1">
                <h2 class="pt-10 mt-10 mb-10 display-5 lh-5 fw-bold">Come Visit Us </h2>
              </div>
            </div>
          </div>
  </div>


  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://cdn.pixabay.com/photo/2018/10/02/11/13/girl-3718537_960_720.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Want to change the great big world? Join our community of explorers.</h1>
        <p class="lead">The Campaign for Stony Brook Through research and discovery, we are changing the world.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Join Us</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Take A Virtual Tour</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Our Pupils  </h2>
    
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" style="width: 1400px; height: 600px;">
      <div class="col" style="width: 400px; height: 500px;">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://cdn.pixabay.com/photo/2017/09/08/00/38/friend-2727307_960_720.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Reach For The Stars</h2>
          </div>
        </div>
      </div>

        <div class="col" style="width: 400px; height: 500px;">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://cdn.pixabay.com/photo/2016/05/18/11/25/library-1400312_960_720.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Learning From Nature</h2>
            </div>
          </div>
        </div>

          <div class="col" style="width: 400px; height: 500px;">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://cdn.pixabay.com/photo/2020/02/06/20/01/university-library-4825366_960_720.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Dreaming Big</h2>
              </div>
            </div>
          </div>
  </div>

  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>