
          
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col">
        <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50X50" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="100" width="100"/>
        </svg>
        <h2> Main </h2>
        <p> Registration, more information and contact</p>
        <p><a class="btn btn-success" routerLink="/main"> Main &raquo; </a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col">
        <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns:xlink="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50X50" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://images.unsplash.com/photo-1427504494785-3a9ca7044f45?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3R1ZGVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="100" width="100"/>
        </svg>
        <h2>Students</h2>
        <p>Personal details, grades</p>
        <p><a class="btn btn-success" routerLink="/students"> Students &raquo; </a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col">
        <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50X50" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://images.unsplash.com/photo-1584277261846-c6a1672ed979?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dGVhY2hlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="100" width="100"/>

        </svg>
        <h2>Teachers</h2>
        <p>Personal details, salary</p>
        <p><a class="btn btn-success" routerLink="/teachers">Teachers &raquo; </a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col">
        <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50X50" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://images.unsplash.com/photo-1504328345606-18bbc8c9d7d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d29ya2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="100" width="100"/>
        </svg>
        <h2>Workers</h2>
        <p>Personal details, salary</p>
        <p><a class="btn btn-success" routerLink="/workers">Workers &raquo; </a></p>
      </div><!-- /.col-lg-4 -->
      
      


    </div><!-- /.row -->














<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
    <div class="content has-text-centered">
      <h6> &hearts; All rights reserved to Yulia Nakonechny {{year}}  &copy; </h6>
    </div>
    </div>
</footer>