<div class="container">
    <h3>Workers LIST</h3>
    <ul class="list-group">
        <!-- Add async pipe for students array(it is an observable) -->
        
          
        <li *ngFor="let worker of workers | async"  class="d-flex flex-column">
            <a [routerLink]="['/worker', worker.id]">
            <div *ngIf="worker.hoursMonth*worker.hourlyWage>3000; else elseBlock"  >

                <hr style="height:20px; background-color:rgb(7, 104, 168)">
                <b> {{ worker.name }} </b> <label>Monthly Salary:</label> {{worker.hoursMonth*worker.hourlyWage}}
            </div>

            <ng-template #elseBlock>
                <hr style="height:20px; background-color:rgb(168, 32, 39)" >
                <b> {{ worker.name }} </b> <label>Monthly Salary:</label> {{worker.hoursMonth*worker.hourlyWage}}
            </ng-template>
            </a>
        </li>
    </ul>
</div>